# Docker / Podman / Rancher Desktop compose environment variables

# Shared network name for frontend + backend integration
APP_NETWORK=patient-account-net

# Development service
UI_DEV_PORT=4200
# Default for Podman. For Rancher Desktop prefer: http://host.rancher-desktop.internal:8080
# For Docker Desktop/Moby: http://host.docker.internal:8080
BACKEND_URL=http://host.containers.internal:8080

# Production service
UI_PROD_PORT=8088
API_UPSTREAM=http://patient-account-service:8080
API_BASE_URL=
ANGULAR_BUILD_CONFIGURATION=production


